#footer-section {
  //display: flex;
  //height: 100vh;
  background-image: url("./images/footer_bg_img.jpg");
  background-repeat: no-repeat;
  //background-size: 80%;
  background-size: 90%;
  //height: 1563px;
  height: 500px;
  width: 956px;
  background-position: left;
  background-color: $secondaryBgColor;
  .footer-image {

  }
  .footer-content {
    //width: 50%;
  }
}