// button for all pages
button {
  text-transform: uppercase;
  //width:150px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem;

  background-color: $primaryBgColor;
  border: 1px solid $primaryTextColor;
  span {
    display: block;
  }
  &:hover {
    // background-color: $secondaryBgColor;
    // color: $secondaryBgColor;
    border-bottom: 1px solid black;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, .2);
  }

  &:focus {
    border: 1px solid $primaryColor;
    color: $primaryColor;
  }

}

// button for all pages
.firstPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  //padding: 1rem auto;
  .firstPage-steps {
    margin: 1rem 0;

  }
  h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .firstPage-inputs {
    margin: 0 auto;
    width: 80vw;
    button {
      margin-left: 0;
      margin-bottom: 1rem;
    }

    .labelForCheckbox {
      display: block;
      position: relative;
      cursor: pointer;
      padding-left: 40px;
      margin-bottom: 12px;
      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
        border: 1px solid $primaryTextColor;
        background-color: $primaryBgColor;
        i {
          padding: 7px;
        }
        &:after {

        }
      }

    }
  }
}

.bags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  .bags-steps{
    margin-top: 1rem;
  }
  h3{
    margin-top: 4rem;
  }
  label{
    margin-top:2rem;
    padding-right: 0.5rem;
    position:relative;

      &:after {

        content: "";
        position: absolute;
        top: 25px;
        right: 35px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid rgba(0, 0, 0, .5);

      }


    .bags-input {
      margin: 10px;
      padding: 10px 20px;
      border-radius: 0;

    }
  }
  .bags-buttons{
    margin-top: 2rem;
    margin-bottom: 6rem;
    button {
      margin-left: 0;
    }
  }

}

.thirdPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  .thirdPAge-steps{
    margin-top: 1rem;
  }
  h3{
    margin-top: 4rem;
  }
  label{
    margin-top:2rem;
    padding-right: 0.5rem;
    position:relative;

    &:after {

      content: "";
      position: absolute;
      top: 25px;
      right: 35px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid rgba(0, 0, 0, .5);

    }


    .location-input {
      margin: 10px;
      padding: 10px 20px;
      border-radius: 0;


    }
  }
  .whoToHelpTo{
    h5{

    }
    ul{
      width:500px;
      .active{
        background-color: $primaryColor;
      }
      li{
        list-style: none;
        border: 1px solid $primaryTextColor;
        padding:0.5rem;
        margin:0.5rem;
        display: inline-block;
      }
    }
  }


  .thirdPage-buttons{
    margin-top: 2rem;
    margin-bottom: 6rem;
    button {
      margin-left: 0;
    }
  }

}


@media screen and (min-width: 700px) {
  .picture-container {
    background-image: url("./images/teddy.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }

}
@media screen and (max-width: 700px) {
.bags{
align-items:center;
  text-align: center;

  width: 100vw;
}
}