@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");

$open-sans: 'Open Sans', sans-seriif;
$primaryColor: #fbcb10;
$primaryBgColor: #fff;
$secondaryBgColor: #eeefef;
$primaryTextColor: #000;


